* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1;
  height: 100vh;
  background-image: linear-gradient(to bottom, #ebeffd, #85a5fa);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90vh;
  margin: 0 auto;
  padding: 16px;
}

header img {
  width: 56px;
}

main {
  text-align: center;
}
.weather-info {
  margin-bottom: 16px;
}

.weather-icon {
  max-width: 100%;
}

.weather-temperature {
  font-size: 112px;
}

.panel {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.panel-title {
  margin-bottom: 12px;
  color: #4c6c96;
}

.description {
  font-weight: bold;
  font-size: 18px;
}

.footer-container {
  text-align: center;
  margin: 30px 50px;
}

.footer-container a {
  text-decoration: none;
}
